html {
  background-color: #000000;
  color: #ffffff;
}

@font-face {
  font-family: black-dread;
  src: url("./sources/blackdread.otf")
}

@media screen and (min-width: 450px) {
  .topnav .block {
    margin: 18px;
  }
  
  .largehead {
    font-size: 7.9rem;
  }
  
  .subheading {
    padding-top: 150px;
  }
}

@media screen and (max-width: 449px) {
  .topnav .block {
    margin: 9px;
    padding-top: 10px;
  }
  
  .topnav {
    text-align: center;
    overflow-x: scroll;
  }
  
  .largehead {
    font-size: 7rem;
  }
  
  .subheading {
    padding-top: 160px;
  }
  
  .textblock img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 999px) {
  .largehead {
    padding-top: 20%;
  }
  
  .right {
    width: 100%;
  }
  
  .sidenav {
    display: none;
  }
  
  .topnav {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .right {
    width: 84%;
  }
  
  .sidenav {
    display: block;
  }
  
  .topnav {
    display: none;
  }
}

@media screen and (min-width: 450px) and (max-width: 999px) {
  .subheading {
    padding-top: 240px;
  }
}

@media screen and (max-width: 550px) {
  .linkblock p {
    width: 160%;
  }
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
  background: #000000;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #000000;
  border-radius: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #CC5500;
  cursor: pointer;
}

.topnav {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.75);
}

.topnav .block {
  display: inline-block;
}

.topnav a {
  font-family: courier;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: auto;
  background-color: #0a0a0a;
  float: left;
  padding-top: 20px;
  padding-left: 10px;
}

.sidenav a {
  padding: 6px;
  display: block;
  font-family: courier;
  margin: 0;
}

.right {
  height: 100%;
  float: right;
  overflow-x: scroll;
}

.heading, .subheading {
  text-align: center;
  padding: 5% 5% 0 5%;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  position: flex;
}

.subheading {
  padding-top: 0;
  padding-bottom: 7%;
}

.largehead {
  font-family: black-dread;
}

.smallhead {
  font-family: courier;
  font-size: 0.5rem;
}

.infoblock {
  width: 75%;
  margin: auto;
  justify-content: center;
  padding-bottom: 20px;
}

.small {
  font-family: courier;
  font-size: 2rem;
  font-weight: bold;

}

.textblock {
  font-family: courier;
  font-size: 1.2rem;
}

.textblock img {
  padding-top: 10px;
}

.textblock .link {
  padding-right: 30px;
}

.linkblock {
  overflow-x: scroll;
}

#shows a {
  text-decoration: underline;
}
