html {
  color: #ffffff;
  background: #000000 url("./images/space.gif");
  font-family: courier;
}

@keyframes text-color {
  0% {
    color: #ffffff;
  }
  
  20% {
    color: #ff0000;
  }
  
  40% {
    color: #fef601;
  }
  
  60% {
    color: #00bb00;
  }
  
  80% {
    color: #007efe;
  }
  
  100% {
    color: #46019b;
  }
}

@media screen and (min-width: 450px) {
  .topnav .block {
    margin: 18px;
  }
  
  .largehead {
    font-size: 7.9rem;
  }
  
  .subheading {
    padding-top: 150px;
  }
}

@media screen and (max-width: 449px) {
  .topnav .block {
    margin: 9px;
    padding-top: 10px;
  }
  
  .topnav {
    text-align: center;
    overflow-x: scroll;
  }
  
  .largehead {
    font-size: 7rem;
  }
  
  .subheading {
    padding-top: 160px;
  }
 
 .textblock img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}

@media screen and (max-width: 999px) {
  .largehead {
    padding-top: 20%;
  }
  
  .right {
    width: 100%;
  }
  
  .sidenav {
    display: none;
  }
  
  .topnav {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .right {
    width: 84%;
  }
  
  .sidenav {
    display: block;
  }
  
  .topnav {
    display: none;
  }
}

@media screen and (min-width: 560px) {
  .right-links, .left-links {
    display: inline-block;
  }
  
  .full-links {
    display: none;
  }
}

@media screen and (max-width: 559px) {
  .right-links, .left-links {
    display: none;
  }
  
  .full-links {
    display: block;
  }
}

@media screen and (min-width: 450px) and (max-width: 999px) {
  .subheading {
    padding-top: 240px;
  }
  
  .slideimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 550px) {
  .linkblock p {
    width: 160%;
  }
}

@media screen and (max-width: 375px) {
  .topnav .block {
    margin: 6px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 345px) {
  .largehead {
    font-size: 4.8rem;
    padding-top: 35%;
  }
  
  .topnav .block {
    font-size: 10px;
  }
  
  .topnav {
    height: 60px !important;
  }
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0,0,0,0);
  border-radius: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #CC5500;
  cursor: pointer;
}

.topnav {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.75);
  overflow-x: visible;
  z-index: 2;
}

.topnav nav {
  overflow-x: visible;
  white-space: nowrap;
}

.topnav .block {
  display: inline-block;
}

.sidenav {
  height: 100%;
  width: 16%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: auto;
  background-color: rgba(10, 10, 10, 0.9);
  float: left;
}

.sidenav a, .sidenav p {
  padding: 6px;
  display: block;
  margin: 0;
  padding: 1.25em;
}

.sidenav nav {
  width: 100%;
}

.right {
  height: 100%;
  float: right;
  overflow-x: scroll;
}

.heading, .subheading {
  text-align: center;
  padding: 5% 5% 0 5%;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  position: flex;
  
  animation-name: text-color;
  animation-duration: 75s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.subheading {
  padding-top: 0;
  padding-bottom: 7%;
}

.smallhead {
  font-size: 0.5rem;
}

.infoblock {
  width: 75%;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(10, 10, 10, 0.5);
  padding: 14px;
}

.infoblock .small {
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 14px;
}

.textblock {
  font-size: 1.2rem;
  overflow-x: scroll;
}

.textblock:not(.imgblock) {
  padding-left: 14px;
}

.textblock img {
  z-index: 0;
}

.textblock .link {
  padding-right: 30px;
  white-space: nowrap;
}

.linkblock {
  overflow-x: scroll;
}

.left-links {
  min-width: 100px;
}

.right-links {
  min-width: 100px;
}

i {
  margin-right: 10px;
}

#shows a {
  text-decoration: underline;
}